.form {
    color: #444;
    display: block;
    margin: 2rem auto;
    position: relative;
    width: 100%;
    &-title{
        font-size: 20px;
        font-weight: bold;
        margin: 15px 0;
    }
}

.form-input{
    border: none;
    color: #007491;
    border-bottom: 1px solid #aaa;
    display: block;
    margin: 0 0 2rem;
    padding: .25rem;
    width: 100%;
    
    &:focus {
        border-bottom: 1px solid #007491;
        outline: none;
    }
}

.form-textarea {
    border: none;
    border-bottom: 1px solid #aaa;
    color: #007491;
    display: block;
    height: 2rem;
    margin: 0 0 2rem;
    padding: .25rem;
    width: 100%;
    transition: 0.3s height ease;
    
    &:focus {
        border-bottom: 1px solid #007491;
        height: 4rem;
        outline: none;
    }
}

.form-input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-label {
    display: block;
    line-height: 14px;
    margin: 0 0 1rem;
}

.btn-submit {
    background: transparent;
    border: 1px solid #aaa;
    padding: 10px 20px;
    transition: .3s all ease-in-out;
    
    &:hover{
        cursor: pointer;
        color: white;
        border: 1px solid #007491;
        outline: none;
        background: rgb(0, 116, 145);
    }
}